.products-item {

    &-subtitle {
        font-weight: 600;
        margin-bottom: 20px;
        line-height: 18px;
    }

    &-excerpt {

        font-weight: 400;
        margin-bottom: 20px;
        line-height: 18px;

        @include lg-min {
            margin-bottom: 20px;
        }
    }

    &-item {

        @include lg-min {
            height: 435px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }
    }
}


.products {
    .products-item {
        .wrap-content {
            display: flex;
            flex-direction: column;

            @include lg-min {
                flex-direction: row-reverse;
            }
        }

        &:nth-child(even) {
            .wrap-content {
                display: flex;
                flex-direction: column;

                @include lg-min {
                    flex-direction: row;
                }

            }

            .products-item-background {
                left: initial;
                right: 0;
            }

            .office-party__localizaton {
                margin-top: 35px;
            }

        }


        .office-party__localizaton {
            margin: 0;
            font-size: 15px;
            margin-bottom: 10px;
        }

        h3,
        h4 {
            font-weight: 600;

        }

        h3 {
            font-size: 30px;
            margin: 0;
            margin-bottom: 20px;
        }

        h4 {
            font-size: 15px;
            margin-bottom: 20px;
        }

    }

    &-items-btn {

        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;

        a {
            color: #000;
            text-decoration: none;
            text-align: right;
            margin: 30px 15px;

            &:hover {
                font-weight: 600;
            }
        }


    }
}

.products-item {
    background: rgba(217, 217, 214, 0.3);
    padding-top: 20px;
    position: relative;

    &:nth-child(even) {

        .products-item-item {
            align-self: flex-start;
        }

    }

    @include lg-min {
        background: none;
        margin-top: 50px;
    }

    &::before {
        content: '';
        display: block;
        width: 8px;
        height: 380px;
        background-color: var(--accent);
        position: absolute;
        left: 0;
        margin-top: 40px;

        @include lg-min {
            display: none;
        }
    }

    &-background {
        @include lg-min {
            background-color: var(--gray);
            width: 90vw;
            height: 435px;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
        }
    }

    &-header {
        display: flex;

        @include lg-min {
            position: relative;
        }

        h3 {
            border: 8px solid;
            border-color: var(--accent);
            padding: 30px 15px;
            font-size: 34px;
            font-weight: 900;
            text-transform: uppercase;
            max-width: 220px;
            background-color: rgba(255, 255, 255, 0.45);
            position: absolute;
            left: 5vw;
            z-index: 2;
            margin-top: 122px;

            @include lg-min {
                left: initial;
                right: 20px;
                margin-top: -145px;
                background: transparent;
                font-size: 54px;
                max-width: 310px;
                padding: 60px 15px;
            }
        }

        img {
            // position: relative;
            // left: 20vw;
            // transform: scale(0.8);

            @include lg-min {
                position: relative;
                transform: scale(1);
                left: 0;
                top: -20px;
            }
        }
    }

    &-item {
        padding: 30px 15px 20px 15px;
        color: #000;
        font-size: 12px;
        width: 75vw;
        align-self: flex-end;
        background-color: var(--gray);

        @include xl-min {
            width: 40vw;
            background-color: transparent;
        }

        @include lg-min {
            padding: 40px 50px;
        }

        h2 {
            font-weight: 900;
            text-transform: uppercase;
            margin-bottom: 20px;
            line-height: 18px;

            @include lg-min {
                &::before {
                    content: '';
                    display: block;
                    width: 300px;
                    height: 8px;
                    background-color: var(--accent);
                    position: relative;
                    top: -50px;
                }
            }
        }

        &-subtitle {
            font-weight: 600;
            margin-bottom: 20px;
            line-height: 18px;
        }

        &-excerpt {
            font-weight: 400;
            margin-bottom: 20px;
            line-height: 18px;
        }

        &__black {
            color: #fff;
            background: #000;
        }


    }
}

.for-download {
    background-color: var(--gray);
    padding: 60px 0px;

    &-toogle {
        padding: 20px 30px;
        background-color: var(--accent);
        cursor: pointer;


        h4 {
            color: #fff;
            text-transform: uppercase;
            font-size: 30px;
            display: flex;
            align-items: center;

            &::before {
                display: flex;
                align-items: center;
                justify-content: center;
                content: "+";
                border: 2px solid white;
                width: 41px;
                height: 41px;
                margin-right: 10px;
            }
        }

        .minus-before {
            &::before {
                display: flex;
                align-items: center;
                justify-content: center;
                content: "-";
                border: 2px solid white;
                width: 41px;
                height: 41px;
                margin-right: 10px;
            }
        }

        &-content {
            display: none;
            transition: opacity;
            padding: 20px 15px;

            @include lg-min {
                padding: 30px 0px 0px 0px;
            }

            .items {
                display: flex;
                align-items: center;
                flex-direction: column;

                @include lg-min {
                    flex-direction: row;
                }

            }

            .item {
                padding: 10px 0px;
                display: flex;
                align-items: center;

                @include lg-min {
                    padding: 10px 45px 10px 0px;
                }

                a {
                    margin-left: 20px;
                    color: var(--accent);
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }
    }
}