@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,900&display=swap');

body {
	font-family: 'Montserrat',
		sans-serif;
}

form {
	::placeholder {
		font-family: 'Montserrat',
			sans-serif;
		font-weight: 600;
	}
}

strong {
	font-weight: 600;
}

.font-600 {
	font-weight: 600;
}