// ====================================================
// HERO SLIDER
// ====================================================


.hero__page-onas {
   @include lg-min {
      margin-top: 60px;
   }


   .hero-slide {
      background-image: url(./../assets/onas-photo.jpg);
      background-size: cover;
      overflow: visible;

      @include lg-min {
         position: relative;
         max-width: 1149px;
      }
   }

   .slick-slide {
      height: calc(70vh - 118px) !important;

      @include lg-min {
         height: 567px !important;
      }
   }
}




.hero {
   &-slide {
      background-image: url(./../assets/slider.jpg);
      background-size: cover;
      overflow: visible;

      @include lg-min {
         position: relative;
         max-width: 1149px;
      }

      &__flexline {
         background-image: url(./../assets/slider-flexline.jpg);
      }

      &__service-box-deluxe {
         background-image: url(./../assets/slider-service-box-deluxe.jpg);
      }

      &__nowe-laczniki {
         background-image: url(./../assets/slider-nowe-laczniki.jpg);
      }

      &__lambo {
         background-image: url(./../assets/slider-przewody-hydrauliczne-do-lambo.jpg);
      }

      &__miedziane-przewody-hamulcowe {
         background-image: url(./../assets/slider-miedziane-przewody-hamulcowe.jpg);
      }

      &__zestaw-warsztatowy-premium {
         background-image: url(./../assets/slider-zestaw-warsztatowy-premium.jpg);
      }

      &__trojniki {
         background-image: url(./../assets/slider-trojniki.jpg);
      }

      &__126p {
         background-image: url(./../assets/slider-przewody-hydrauliczne-do-fiata-126-p.jpg);
      }
   }

   &-slider {
      &-wrapper {
         position: relative;
         max-width: 1300px;
         margin: 0 auto;

         @include lg-min {
            &::before {
               content: '';
               display: block;
               width: 74px;
               height: 74px;
               background-color: rgba(238, 116, 2, 0.8);
               position: absolute !important;
               left: -37px;
               bottom: -37px;
               z-index: 22;
               overflow: visible;
            }
         }
      }
   }

   &-slider-nav {
      display: none;

      @include lg-min {
         display: flex;
         position: absolute;
         bottom: 0;
         right: 151px;
      }

      &-prev,
      &-next {
         align-items: center;
         justify-content: center;
         width: 73px;
         height: 59px;
         background: rgba(255, 255, 255, 0.85);
         cursor: pointer;
         transition: all 0.1s ease-in-out;
         outline: none;

         @include lg-min {
            display: flex;
         }

         &:hover {
            background: rgba(255, 255, 255, 1);
         }
      }
   }

   &-info-box {
      background: rgba(255, 255, 255, 0.85);
      width: 80vw;
      padding: 10px 15px;
      position: absolute;
      bottom: 100px;

      @include lg-min {
         max-width: 670px;
         right: -135px;
         bottom: 150px;
         padding: 10px 30px;

         &::after {
            content: '';
            display: block;
            width: 8px;
            height: 130px;
            background: var(--accent);
            position: absolute;
            right: 0;
            top: 0;
         }
      }

      h2 {
         padding: 35px 0px;
         font-size: 24px;
         text-transform: uppercase;
         font-weight: 900;

         @include lg-min {
            font-size: 50px;
            padding: 95px 0px 50px 0px;
         }
      }

      &::before {
         content: '';
         display: block;
         width: 65px;
         height: 8px;
         background: var(--accent);
         position: absolute;
         right: 0;
         top: 0;
      }

      &-sep {
         display: inline-block;
         width: 100%;
         height: 8px !important;
         background: var(--accent);
         margin-bottom: 30px;

         @include lg-min {
            margin-bottom: 55px;
         }
      }
   }

   .slick-slide {
      height: calc(100vh - 118px);

      @include lg-min {
         height: 567px;
      }

      div:not(.hero-info-box) {
         height: 100%;
         background-repeat: no-repeat;
         background-size: cover;
      }
   }

   &-cta-btn {
      a {
         display: block;
         font-size: 17px;
         font-weight: 600;
         text-transform: uppercase;
         text-decoration: none;
         color: #fff;
         background: #000;
         padding: 33px 15px;
         position: relative;

         &::after {
            content: url(./../assets/arrow-right.svg);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 85px;
            height: 83px;
            background-color: var(--accent);
            position: absolute;
            right: 0;
            top: 0;
         }
      }

      @include lg-min {
         display: none;
      }
   }
}

// ====================================================
// SECTION ABOUT US
// ====================================================

$sectionOffset: 300px;

.about-us {
   background: rgba(217, 217, 214, 0.3);
   padding: 30px 15px;

   @include lg-min {
      margin-top: -$sectionOffset;
      padding: 30px 15px 250px 15px;
   }

   @include lg-min {
      background: var(--gray);
   }

   &-before-gray-elem {
      display: none;

      @include lg-min {
         display: block;
         height: $sectionOffset;
      }
   }

   &-wrapper {
      max-width: 1300px;
      margin: 0 auto;
      display: flex;
      align-items: flex-start;
      flex-direction: column-reverse;
      position: relative;

      @include lg-min {
         flex-direction: row;
         align-items: center;
         justify-content: center;
         overflow: hidden;
      }
   }

   &-heading {
      display: none;

      @include lg-min {
         display: block;
      }

      h3 {
         position: absolute;
         top: 40px;
         left: 10px;
         font-size: 15px;
         font-weight: 600;
         text-transform: uppercase;
         margin-bottom: 20px;
      }
   }

   &-info {
      @include lg-min {
         display: flex;
         align-items: flex-start;
         margin-top: 90px;
      }

      p {
         margin-bottom: 20px;

         @include lg-min {
            width: 30%;
            padding: 0px 10px;
         }
      }
   }

   &-read-more-btn {
      font-size: 14px;
      font-weight: 400;
      color: #000;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 20px;
      margin-top: 30px;

      @include lg-min {
         margin-top: 40px;
         font-weight: 900;
         text-transform: uppercase;
         margin-top: 0;
      }
   }

   &-highlight {
      font-size: 19px;
      font-weight: 900;
      text-transform: uppercase;
      line-height: 30px;
      border: 8px solid;
      border-color: var(--accent);
      padding: 30px 65px;

      position: relative;
      left: 15vw;
      margin: 120px 0px 60px 0px;

      @include lg-min {
         left: 0;
         top: 0;
         margin: 0;
      }
   }
}



// ====================================================
// OFFER BOX
// ====================================================

.offer-box {
   .wrap-content {
      display: flex;
      flex-direction: column;

      @include lg-min {
         flex-direction: row-reverse;
      }
   }

   .offer-box-item__full {
      width: 100%;
      align-self: flex-start;

      @include lg-min {
         text-align: right;
         align-self: flex-end;
      }


      h2 {
         @include lg-min {
            &:before {
               content: "";
               position: absolute;
               right: 18vw;
               top: 14px;
            }
         }
      }
   }
}

.offer-box__reverse {
   .wrap-content {
      display: flex;
      flex-direction: column;

      @include lg-min {
         flex-direction: row;
      }
   }

   .offer-box-background {
      @include lg-min {
         left: initial;
         right: 0;
      }
   }

   .offer-box-item {
      align-self: flex-start;

      @include lg-min {
         text-align: right;
         align-self: flex-end;
      }


      h2 {
         @include lg-min {
            &:before {
               content: "";
               position: absolute;
               right: 18vw;
               top: 14px;
            }
         }
      }
   }



   .offer-box-header {
      h3 {
         left: 33vw;

         @include lg-min {
            left: 20px;
            right: initial;
         }
      }

      img {
         left: -80vw;
         position: relative;

         @include lg-min {
            left: 0;
         }

      }
   }

   &::before {
      content: "";
      display: none !important;
   }

}

.logo-waypoint {
   display: none;


   @include xxl-min {
      display: block;
      position: relative;
   }

   img {
      position: absolute;
      left: -130px;
      top: -120px;
   }
}

.offer-box {
   background: rgba(217, 217, 214, 0.3);
   padding-top: 20px;
   position: relative;


   @include lg-min {
      background: none;
      margin-top: 200px;
   }

   &::before {
      content: '';
      display: block;
      width: 8px;
      height: 380px;
      background-color: var(--accent);
      position: absolute;
      left: 0;
      margin-top: 40px;

      @include lg-min {
         display: none;
      }
   }

   &-background {
      @include lg-min {
         background-color: var(--gray);
         width: 70vw;
         height: 435px;
         position: absolute;
         bottom: 0;
         left: 0;
         z-index: -1;
      }

   }

   &-header {
      display: flex;


      @include lg-min {
         position: relative;
      }

      h3 {
         border: 8px solid;
         border-color: var(--accent);
         padding: 30px 15px;
         font-size: 34px;
         font-weight: 900;
         text-transform: uppercase;
         max-width: 220px;
         background-color: rgba(255, 255, 255, 0.45);
         position: absolute;
         left: 5vw;
         z-index: 2;
         margin-top: 122px;

         @include lg-min {
            left: initial;
            right: 20px;
            margin-top: -145px;
            background: transparent;
            font-size: 54px;
            max-width: 310px;
            padding: 60px 15px;
         }
      }

      img {
         position: relative;
         left: 20vw;
         transform: scale(0.8);

         @include lg-min {
            position: relative;
            transform: scale(1);
            left: 0;
            top: -20px;
         }
      }
   }

   &-item {
      padding: 30px 15px 20px 15px;
      color: #000;
      font-size: 12px;
      width: 60vw;
      align-self: flex-end;

      @include lg-min {
         padding: 40px 50px;
      }

      h2 {
         font-weight: 900;
         text-transform: uppercase;
         margin-bottom: 20px;
         line-height: 18px;

         @include lg-min {
            &::before {
               content: "";
               display: block;
               width: 300px;
               height: 8px;
               background-color: var(--accent);
               position: relative;
               top: -120px;
            }
         }

      }

      &-subtitle {
         font-weight: 600;
         margin-bottom: 20px;
         line-height: 18px;
      }

      &-excerpt {
         font-weight: 400;
         margin-bottom: 20px;
         line-height: 18px;
      }

      &__black {
         color: #fff;
         background: #000;
      }
   }
}

// ====================================================
// CONTACT BOX
// ====================================================

.contact-box {
   background-image: url(././../assets/footer-bg.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   z-index: 1;
   position: relative;
   padding: 30px 15px;

   &-black-overflow {
      background-color: rgba(0, 0, 0, 0.589);
      width: 100%;
      height: calc(100% - 40px);
      z-index: -1;
      position: absolute;
      left: 0;
      top: 40px;

      &::before {
         content: "";
         display: block;
         width: 100px;
         height: 8px;
         background-color: var(--accent);
         position: absolute;
         right: 0;
         top: -8px;

         @include lg-min {
            display: none;
         }
      }
   }

   .wrap-content {
      display: flex;
      flex-direction: column-reverse;

      @include lg-min {
         flex-direction: row;
         align-items: center;
         justify-content: center;
      }
   }

   &-info,
   &-form {
      z-index: 2;
      color: #fff;
      padding: 40px 0px;
   }

   &-info {
      @include lg-min {
         padding-right: 150px;
      }

      h3 {
         font-size: 19px;
         font-weight: 600;
      }
   }

   &-form {
      h4 {
         margin-top: 30px;
         font-size: 18px;
         text-transform: uppercase;
         font-weight: 600;
      }

      form {
         padding: 30px 0px;
         max-width: 400px;

         ::placeholder {
            color: #A3A3A3;
            font-size: 14px;
         }
      }

      input {
         width: 100%;
         padding: 10px;
         margin: 4px 0px;
      }

      input[type="submit"] {
         @include lg-min {
            float: right;
         }
      }

      textarea {
         width: 100%;
         margin: 4px 0px;
         padding: 10px;
      }
   }

   ul {
      margin-top: 30px;

      li {
         display: flex;
         align-self: flex-start;
         justify-content: flex-start;
         margin: 10px 0px;
         font-size: 15px;
         font-weight: regular;
         line-height: 20px;

         img {
            margin-right: 20px;
            height: 24px;
         }
      }
   }
}