//@import '~bootstrap/scss/bootstrap';
@import 'reset';
@import 'rwd';
@import 'debug';
@import 'fonts';

@import './hvr/hover.scss';
@import './slicknav/slicknav.scss';
@import './slicknav/core.scss';
@import './slicknav/theme.scss';

@import './sections/news';
@import './sections/older-items';
@import './sections/quality';
@import './sections/localization';

@import 'nav';
@import 'home';
@import 'footer';
@import 'aktualnosci';
@import 'onas';
@import 'wsparcie';
@import 'sprzedaz';


* {
	box-sizing: border-box;

	&::selection {
		background: transparent;
	}
}

html,
body {
	overflow-x: hidden;
}

:root {
	--accent: #EE7302;
	--gray: #D9D9D6;

}

.wrapper {
	max-width: 1920px;
}

.wrap-content {
	max-width: 1300px;
}

.wrapper,
.wrap-content {
	margin: 0 auto;
}

// ====================================================
// BUTTONS
// ====================================================

.more-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #000;
	color: #fff;
	background-color: #000;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 900;
	text-decoration: none;
	padding: 8px 10px;
	max-width: 160px;
	transition: all .1s ease-in-out;

	@include lg-min {
		font-size: 23px;
	}

	&:hover {
		background: #fff;
		color: #000;
	}

	&__fullwidth {
		max-width: 100%;
	}
}

.more-btn__white {
	border: 2px solid #fff;
	color: #fff;

	&:hover {
		background: #fff;
		color: #000;
	}
}

input[type="submit"] {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid;
	border-color: var(--accent);
	color: #fff;
	background-color: var(--accent);
	font-size: 23px;
	text-transform: uppercase;
	font-weight: 900;
	text-decoration: none;
	padding: 8px 10px;
	max-width: 160px;
	transition: all .1s ease-in-out;
	margin: 0 auto;
	margin-top: 20px;

	@include lg-min {
		font-size: 12px;
	}

	&:hover {
		background: #fff;
		color: #000;
	}
}

.orange-is-black-btn {

	a {
		display: block;
		font-size: 17px;
		font-weight: 600;
		text-transform: uppercase;
		text-decoration: none;
		color: #fff;
		background: #000;
		padding: 33px 15px;
		position: relative;

		&::after {
			content: url(./../assets/arrow-right.svg);
			display: flex;
			align-items: center;
			justify-content: center;
			width: 85px;
			height: 83px;
			background-color: var(--accent);
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	@include lg-min {
		display: none;
	}
}

.inline-block {
	display: inline-block;
}