<div class="desktop-nav">
	<div class="language-bar wrap-content">
		<ul>
			<li>
				<a class="lang-active" href="#">PL/</a>
			</li>
			<li>
				<a href="#">EN/</a>
			</li>
			<li>
				<a href="#">RU</a>
			</li>
		</ul>
	</div>
	<nav class="main-menu wrap-content">
		<img src="./../assets/logo.png" />
		<ul id="menu">
			<li>
				<a href="#">O nas</a>
			</li>
			<li>
				<a href="#">Aktualności</a>
			</li>
			<li>
				<a href="#">Produkty</a>
			</li>
			<li>
				<a href="#">Wsparcie</a>
			</li>
			<li>
				<a href="#">Sprzedaż</a>
			</li>
		</ul>
	</nav>
</div>
